
body {
    background: #FFFFFF;
    font-family: 'roboto', sans-serif;

}
header{
    background-color: #FFFFFF;
    

}

h1 {
    font-size: 40px;
    text-align: center;
    
    
}
.container {
    width: 600px;
    margin: 0 auto;

}
.post {
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 7px;
    border-radius: 10px ;

}
.post-header {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.post h2,
.post span {
    padding: 15px 15px;
    margin: 0;

}

span {
    color: rgb(200, 200, 200);


}
img {
    width: 100%;

}
.post-footer {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 1px;

}
.fa-instagram{
    margin-right: 10px;
    font-size: 60px;
    
}
.fa-heart{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 4px;

    
}
.fa-comment, .fa-paper-plane{
    font-size: 20px;
    margin-right: 5px;

    
}

input {
    border: none;
    font-size:15px;

}